<div layout="row" layout-align="center center">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <a ui-sref="about">
                <md-button aria-label="Go Back">
                    Go Back
                </md-button>
            </a>
            <h2>
          <span>{{vm.title}}</span>
        </h2>
            <span flex></span>
            <md-button class="md-raised" aria-label="Learn More">
                Learn More
            </md-button>
        </div>
    </md-toolbar>
</div>