html, body {
  font-family: 'Tahoma', sans-serif;
  font-size:16px;
  height:100%;
  margin: 0px;
  padding: 0px;
}



md-list-item > button {
  width:100%;
  text-align:left !important;
}
tabs-selected.selected{
  color:#FFFFFF;
}
#content  {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
  background-color:#C6E2FF;
}
md-toolbar h3 {
  margin: left;
  float: left;
  font-weight: 500;
  padding: 20px;
}

.contactIcon{
  position: relative;
  width: 100px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: auto;
  vertical-align: middle;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform:scale(0.70);
}

.avatar {
  width: 150px;
  max-height: 180px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-radius: 20%;
  overflow: hidden;
  vertical-align: middle;
}
.icon {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: auto;
  vertical-align: middle;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform:scale(0.70);
}

.title {
  width: 300px;
  float: left;
  display: inline-block;
}
.menuArea{
  float: center;
  display: inline;
}

.mainDetail {
  padding-top: 25px;
  display: inline-block;
  padding-bottom: 10px;
  background-color: #42A8C0;
}
.info {
  float: left;
  margin-left: 20px; 
}
.menuButton{
  float:left;
  margin:auto;
}

.contactButton{
  float:right;
  padding-right: 20px; 
}

.name {
  font-weight: bold;
}

#colorSidenav {
  background-color: #99CCCC;
}

#centerDiv {
  text-align: center;
}

#padding{
  padding: 10px;
}

h2{
  margin-top: 0px;
  margin-bottom: 0px;
}
td{
  padding-right: 10px;
}


.instaFade {
    -webkit-animation-name: reset, fade-in;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: ease-in;
	
	-moz-animation-name: reset, fade-in;
    -moz-animation-duration: 1.5s;
    -moz-animation-timing-function: ease-in;
	
	animation-name: reset, fade-in;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
}

.quickFade {
    -webkit-animation-name: reset, fade-in;
    -webkit-animation-duration: 2.5s;
    -webkit-animation-timing-function: ease-in;
	
	-moz-animation-name: reset, fade-in;
    -moz-animation-duration: 2.5s;
    -moz-animation-timing-function: ease-in;
	
	animation-name: reset, fade-in;
    animation-duration: 2.5s;
    animation-timing-function: ease-in;
}
 
.delayOne {
	-webkit-animation-delay: 0, .5s;
	-moz-animation-delay: 0, .5s;
	animation-delay: 0, .5s;
}

.delayTwo {
	-webkit-animation-delay: 0, 1s;
	-moz-animation-delay: 0, 1s;
	animation-delay: 0, 1s;
}

.delayThree {
	-webkit-animation-delay: 0, 1.5s;
	-moz-animation-delay: 0, 1.5s;
	animation-delay: 0, 1.5s;
}

.delayFour {
	-webkit-animation-delay: 0, 2s;
	-moz-animation-delay: 0, 2s;
	animation-delay: 0, 2s;
}

.delayFive {
	-webkit-animation-delay: 0, 2.5s;
	-moz-animation-delay: 0, 2.5s;
	animation-delay: 0, 2.5s;
}

@-webkit-keyframes reset {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes reset {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@-moz-keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes reset {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.material-icons{
  position:relative;  
  float:left;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="title"] {
        width: 100%;
    }
  
}

@media only screen and (max-width: 960px) {
  #containInfo {display:none}
  .title {
    width: 100%;
  }
}
