 <md-toolbar>
      <div class="mainDetail">
        <div class="menuArea">
          <md-button style="float:left" hide-gt-sm ng-click="appctrl.toggleList()">
            <md-icon>menu</md-icon>
          </md-button>
          
          <md-button style="float:right" md-no-ink ng-click="appctrl.makeContact(appctrl.info)">
            <md-icon class="material-icons md-48 contactIcon">send</md-icon>
          </md-button>
        </div>
        <div class="title quickFade">
          <img src={{appctrl.info.avatar}} class="avatar"> </img>
          <h2 id="centerDiv">{{appctrl.info.name}}</h2>
        </div>
        <div class="info" id="containInfo">
          <table>
            <tr class="spaceUnder">
              <td colspan="2">
                <h2>RESUME</h2>
              </td>
            </tr>
            <tr>
              <td>
                <p>Address:</p>
                <p>Phone:</p> 
                <p>Email:</p>
                <p>Facebook:</p>
              </td>
              <td>
                <p>{{appctrl.info.address}}</p>
                <p>{{appctrl.info.phone}}</p>
                <p>{{appctrl.info.email}}</p>
                <p>{{appctrl.info.facebook}}</p>
              </td>
            </tr>  
          </table>
        </div>
      </div>
      
    </md-toolbar>

    <div class="container" layout="row" id="showBottomSheet" flex>
        <md-sidenav ng-click="appctrl.toggleList()" 
          md-component-id="left"
          md-is-locked-open="$mdMedia('gt-sm')" 
          class="md-whiteframe-4dp"
		  id="colorSidenav">
          <md-list class = "tabs-selected">
            <md-list-item ng-repeat="app in appctrl.tabs">
                <md-button ng-click="appctrl.selectfield(app)" ng-class="{'selected' : app === appctrl.selected}">
                  <img src={{app.icon}} class="icon"></img>
                  {{app.name}} 
                </md-button>
            </md-list-item>
          </md-list>
        </md-sidenav>
        <md-content id="content" flex>
          <h1 style="color:blue">{{appctrl.selected.name}}</h1>
          <div ng-repeat="ct in appctrl.selected.content">
            <h2>{{ct.title}}</h2>
            <p>{{ct.descrip}}</p>
          </div>
        </md-content>
    </div>

